@page
@model InTandemRegistrationPortal.Pages.Events.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>RideEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RideEvent.ID" />
            <div class="form-group">
                <label asp-for="RideEvent.EventName" class="control-label"></label>
                <input asp-for="RideEvent.EventName" class="form-control" />
                <span asp-validation-for="RideEvent.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RideEvent.EventDate" class="control-label"></label>
                <input asp-for="RideEvent.EventDate" class="form-control" />
                <span asp-validation-for="RideEvent.EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RideEvent.Description" class="control-label"></label>
                <input asp-for="RideEvent.Description" class="form-control" />
                <span asp-validation-for="RideEvent.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RideEvent.Location" class="control-label"></label>
                <input asp-for="RideEvent.Location" class="form-control" />
                <span asp-validation-for="RideEvent.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RideEvent.Distance" class="control-label"></label>
                <input asp-for="RideEvent.Distance" class="form-control" />
                <span asp-validation-for="RideEvent.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SelectedEventType" class="control-label"></label>

                <select asp-for="Input.SelectedEventType" asp-items="Model.EventTypes" class="form-control" id="RoleDropdown">
                    <option value="" selected disabled>Select Type of Event</option>
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only">Needs fixing, Below is a dropdown with multiple values selected</label>
                <label asp-for="Input.SelectedUsers" class="control-label"></label>
                @*<select multiple="multiple" asp-for="Input.SelectedUsers" asp-items="Model.Users" class="form-control">
                    <option value="" disabled>Select User</option>
                </select>*@
                @*<ul style="list-style-type:none;">
                    @foreach (var user in Model.Input.SelectedUsers)
                    {
                        <li>@Html.DisplayFor(modelItem => user)</li>
                    }
                </ul>*@
                <input type="text" id="userSearchBox" placeholder="Input your keyword" />
            @*<p>
                Title: <input type="text" asp-for="SearchString" />
                <input type="submit" value="Filter" />
            </p>*@
            </div>

            <div class="form-group">
                <label asp-for="RideEvent.MaxSignup" class="control-label"></label>
                <input asp-for="RideEvent.MaxSignup" class="form-control" />
                <span asp-validation-for="RideEvent.MaxSignup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SelectedMaxSignUpType" class="control-label"></label>
                <select asp-for="Input.SelectedMaxSignUpType" asp-items="Model.MaxSignUpTypes" class="form-control" id="RoleDropdown">
                    <option value="" selected disabled>Select limiting factor for sign ups</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Input.SelectedStatus" class="control-label"></label>
                <select asp-for="Input.SelectedStatus" asp-items="Model.Statuses" class="form-control">
                    <option value="" selected disabled>Select status of event</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
}
