@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Role">Type of User</label>
                <select asp-for="Input.Role" id="RoleDropdown" class="form-control">
                    <option value="Admin">Admin</option>
                    <option value="Captain">Captain</option>
                    <option value="Stoker">Stoker</option>
                    <option value="Volunteer">Volunteer</option>
                </select>
            </div>
            <div id="captain_stoker">
                <div class="form-group">
                    <label asp-for="Input.Height"></label>
                    <input asp-for="Input.Height" class="form-control UserField CaptainStokerField" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Weight"></label>
                    <input asp-for="Input.Weight" class="form-control UserField CaptainStokerField" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.HasSeat"></label>
                    <select asp-for="Input.HasSeat" class="form-control UserField CaptainStokerField">
                        <option value="" selected disabled>Select Yes or No</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>
            <div id="captain">
                <div class="form-group">
                    <label asp-for="Input.HasTandem"></label>
                    <select asp-for="Input.HasTandem" class="form-control UserField CaptainField">
                        <option value="" selected disabled>Select Yes or No</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Input.HasSingleBike"></label>
                    <select asp-for="Input.HasSingleBike" class="form-control UserField CaptainField">
                        <option value="" selected disabled>Select Yes or No</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>
            <div id="stoker">
                <div class="form-group">
                    <label asp-for="Input.Dog"></label>
                    <select asp-for="Input.Dog" class="form-control UserField StokerField">
                        <option value="" selected disabled>Select Yes or No</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Input.SpecialEquipment"></label>
                    <input asp-for="Input.SpecialEquipment" class="form-control UserField StokerField" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/manageProfile.js" asp-append-version="true"></script>
}